name: Publish maven package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3

      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: microsoft

      - name: Deploy maven artifact
        env:
          GITHUB\_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn -B deploy -Dregistry=https://maven.pkg.github.com/Guguskis -Dtoken=${{ secrets.GITHUB_TOKEN }}

      - name: List the current directory
        run: ls -a

      - name: List target directory
        run: |
          cd target
          ls -a